<a href="https://colab.research.google.com/github/daeyeong8855/Image-Manipulation-and-Dataset-Construction/blob/main/%ED%85%8D%EC%8A%A4%ED%8A%B8%26%EC%8B%9C%EA%B0%84_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정리 및 처리 순서
1. Tokenization : 단어 수준으로 문서 쪼갬
2. stemming : 단어를 원형으로 변환
3. stopwords : 불용어 제거
4. 동의어 처리

In [ ]:
import re

# 텍스트 정제
text_data = [" import re 모듈은 파이썬에서 정규 표현식을 사용하기 위해 제공되는 내장모듈입니다. ???",
             " 정규 표현식은 문자열 패턴을 검색, 추출, 대체 또는 분할하는 데 사용됩니다. !!!!"]

# 공백 문자 제거
strip_whitespace = [string.strip() for string in text_data]

# 마침표 제거
remove_periods = [string.replace(".", "") for string in strip_whitespace]

# 구두점 삭제
import sys
import unicodedata

temp = dict.fromkeys( i for i in range(sys.maxunicode) if unicodedata.category(chr(i)).startswith('P'))
data = [string.translate(temp) for string in text_data]
print(data)

[' import re 모듈은 파이썬에서 정규 표현식을 사용하기 위해 제공되는 내장모듈입니다 ', ' 정규 표현식은 문자열 패턴을 검색 추출 대체 또는 분할하는 데 사용됩니다 ']

## 텍스트 토큰화
텍스트를 개별 단어로 나누기
pip install nltk

In [ ]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
import nltk

# 구두점 데이터 다운로드
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
string = "모듈은 정규 표현식을 사용하여 문자열에서 패턴을 찾고 조작하는 데 사용되는 파이썬 내장 모듈입니다."
word_data = word_tokenize(string) # 단어를 토큰 기준으로 나눕니다.
print(word_data)

['모듈은', '정규', '표현식을', '사용하여', '문자열에서', '패턴을', '찾고', '조작하는', '데', '사용되는', '파이썬', '내장', '모듈입니다', '.']

In [ ]:
sent_string = "첫번째 문장. 두번째 문장. 세번째 문장"
snet_data = sent_tokenize(sent_string)
print(snet_data)

['첫번째 문장.', '두번째 문장.', '세번째 문장']

## 불용어 처리
불용어는 쓸데없이 자주 등장하는 단어

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords') # 불용어 데이터 다운로드

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
tokenized_words = ["i", 'am', 'to', 'go', 'to', 'the', 'store', 'and', 'park']
stop_words = stopwords.words('english')

#불용어 삭제
filtered_words = [word for word in tokenized_words if word not in stop_words]

#불용어 확인
stop_data = stop_words
print(stop_data)
print(filtered_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
['go', 'store', 'park']

## 어간 추출
단어의 어간을 구분하여 기본 의미를 유지하며 어미 제거

In [ ]:
from nltk.stem.porter import PorterStemmer

# 단어 토큰 생성
tokenized_words_temp = ["i", 'am', 'going', 'to','go', 'to', 'the', 'store', 'and', 'meeting']

# 어간 추출기 생성
porter = PorterStemmer()
word_list_temp = []
for word in tokenized_words_temp :
  print(word)
  word_list_temp.append(porter.stem(word))

print(word_list_temp)

i
am
going
to
go
to
the
store
and
meeting
['i', 'am', 'go', 'to', 'go', 'to', 'the', 'store', 'and', 'meet']

## 품사 태깅

In [ ]:
from nltk import pos_tag
from nltk import word_tokenize
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
text_data_tag = "Chris loved outdoor running"
text_tagger = pos_tag(word_tokenize(text_data_tag))
print(text_tagger)

[('Chris', 'NNP'), ('loved', 'VBD'), ('outdoor', 'RP'), ('running', 'VBG')]

## 단어 중요도에 가중치 부여하기
tf = 해당 문서에 빈도가 높은 단어 (가중치 부여)<br>
idf = 다른 문서에서도 빈도가 높은 단어(가중치 하락)

In [ ]:
from nltk.tbl import feature
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

text_data_01 = np.array(([
    'I love Brazil. Brazil !',
    "Swedn is best",
    "Germany beats both"
]))

# tf-idf 특성 행렬
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(text_data_01)
print(feature_matrix)

# 밀집 배열 확인
feature_matrix.toarray()
tf = tfidf.vocabulary_
print(tf)

  (0, 3)	0.8944271909999159
  (0, 6)	0.4472135954999579
  (1, 1)	0.5773502691896257
  (1, 5)	0.5773502691896257
  (1, 7)	0.5773502691896257
  (2, 2)	0.5773502691896257
  (2, 0)	0.5773502691896257
  (2, 4)	0.5773502691896257
{'love': 6, 'brazil': 3, 'swedn': 7, 'is': 5, 'best': 1, 'germany': 4, 'beats': 0, 'both': 2}

## 워드 클라우드

In [ ]:
!pip install pygame
!pip install simplejson
!pip install pytagcloud
!pip install pycopy-webbrowser
import pytagcloud
import webbrowser # 코랩에서는 작동 안함

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pygame in /usr/local/lib/python3.10/dist-packages (2.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: simplejson in /usr/local/lib/python3.10/dist-packages (3.19.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytagcloud in /usr/local/lib/python3.10/dist-packages (0.3.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycopy-webbrowser
  Using cached pycopy-webbrowser-0.0.0.tar.gz (631 bytes)
ERROR: pycopy-webbrowser from https://files.pythonhosted.org/packages/40/6f/3534aa5470f69aede4ec969a4f64981892e5bd838ea8e148d8d7ee52f1bc/pycopy-webbrowser-0.0.0.tar.gz does not appear to be a Python project: neither 'setup.py' nor 'pyproject.toml' found.

In [ ]:
tag = (('Hello', 100), ("World", 80), ("Python", 200))
tag_list = pytagcloud.make_tags(tag, maxsize=50)
pytagcloud.create_tag_image(tag_list, 'word_cloud.jpg', size=(900,600), rectangular=False)

webbrowser.open('word_cloud.jpg')

from IPython.display import Image
Image('./word_cloud.jpg')

False

## 문자열을 날짜로 변환

In [ ]:
import numpy as np
import pandas as pd
date_string = np.array(['03-04-2023 11:20 PM',
                        '05-04-2023 10:20 PM',
                        '07-04-2023 03:20 AM',
                        '09-04-2023 06:20'
                        ])

# Time Stamp 객체로 변경, errors를 무시하도록 설정하였음
for data in date_string :
  temp_value = pd.to_datetime(data,format='%d-%m-%Y %I:%M %p', errors = 'ignore')
  print (temp_value)

2023-04-03 23:20:00
2023-04-05 22:20:00
2023-04-07 03:20:00
09-04-2023 06:20

## 시간대 데이터 처리 - 01
지역별 시간대 추적

In [ ]:
pd.Timestamp("2023-01-01 06:00:00", tz='Europe/London')
data_temp = pd.Timestamp('2023-04-20 06:00:00')

# 시간대 지정
date_in_london = data_temp.tz_localize('Europe/London')
print(date_in_london)

# 시간대를 변환
date_in_london.tz_convert('Africa/Abidjan')
print(date_in_london.tz_convert('Africa/Abidjan'))
# 세개의 날짜 만들기
dates_temp = pd.Series(pd.date_range('2/2/2023', periods=3, freq='M'))
temp = dates_temp.dt.tz_localize('Africa/Abidjan')
print(temp)

2023-04-20 06:00:00+01:00
2023-04-20 05:00:00+00:00
0   2023-02-28 00:00:00+00:00
1   2023-03-31 00:00:00+00:00
2   2023-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

all_timezones[:] = 지역검색

In [ ]:
import pytz
from pytz import all_timezones
all_timezones[150:152]

['America/Maceio', 'America/Managua']

In [ ]:
dates_temp.dt.tz_localize('dateutil/Asia/Seoul') #periods 의 영향을 받음

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, tzfile('/usr/share/zoneinfo/Asia/Seoul')]

In [ ]:
tz_temp = pytz.timezone('Asia/Seoul')
temp_01 = dates_temp.dt.tz_localize(tz_temp)
print(temp_01)

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

In [ ]:
# 날짜와 시간 선택하기

dateframe = pd.DataFrame()
dateframe['date'] = pd.date_range('1/1/2023', periods=1000, freq='H')


# 두 datetime 사이의 샘플을 선택
dateframe [(dateframe['date'] > '2021-1-1 01:00:00') &
           (dateframe['date'] <= '2023-1-1 04:00:00')]

dateframe = dateframe.set_index(dateframe['date'])

temp02 = dateframe.loc['2023-1-1 01:00:00' : '2023-1-1 04:00:00']
print(temp02)

                                   date
date
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00

## 날짜 데이터 분할
날짜 -> 년 월 일 시 분

In [2]:
import pandas as pd

dateframe = pd.DataFrame()

# W = 주 기준(7일) 10개의 날짜
dateframe['date'] = pd.date_range('1/1/2023', periods=10, freq='W')


dateframe['year'] = dateframe['date'].dt.year
dateframe['month'] = dateframe['date'].dt.month
dateframe['day'] = dateframe['date'].dt.day
dateframe['hour'] = dateframe['date'].dt.hour
dateframe['minute'] = dateframe['date'].dt.minute
print(dateframe)

        date  year  month  day  hour  minute
0 2023-01-01  2023      1    1     0       0
1 2023-01-08  2023      1    8     0       0
2 2023-01-15  2023      1   15     0       0
3 2023-01-22  2023      1   22     0       0
4 2023-01-29  2023      1   29     0       0
5 2023-02-05  2023      2    5     0       0
6 2023-02-12  2023      2   12     0       0
7 2023-02-19  2023      2   19     0       0
8 2023-02-26  2023      2   26     0       0
9 2023-03-05  2023      3    5     0       0

## 날짜간 차이 계산
TimeDelta로 두 지점 사이의 시간 변화 기록 특성 계산

In [4]:
date_frame = pd.DataFrame()

# Timestamp로 두 날짜 지정
date_frame['Arrived'] = [pd.Timestamp('01-01-2023'), pd.Timestamp('01-04-2023')]
date_frame['Left'] = [pd.Timestamp('01-01-2023'), pd.Timestamp('01-06-2023')]

# 특성 사이의 차를 계산
date_frame['Left'] - date_frame['Arrived']
pd.Series(delta.days for delta in (date_frame['Left'] - date_frame['Arrived']))

0    0
1    2
dtype: int64

## 시차 특성 (값 밀어내기) (SQL LAG & LEAD)
판다스의 shift를 사용하여 n기간 만큼 차이가 나는 시차 특성

In [5]:
date_frame_temp = pd.DataFrame()

date_frame_temp['dates'] = pd.date_range('1/1/2023', periods=5, freq='D')
date_frame_temp['stock_price'] = [1.1, 2.2, 3.3, 4.4, 5.5]

date_frame_temp['previous_days_stock_price'] = date_frame_temp['stock_price'].shift(2)
print(date_frame_temp)

       dates  stock_price  previous_days_stock_price
0 2023-01-01          1.1                        NaN
1 2023-01-02          2.2                        NaN
2 2023-01-03          3.3                        1.1
3 2023-01-04          4.4                        2.2
4 2023-01-05          5.5                        3.3

## 이동 시간 윈도 사용
이동 평균 계산

In [17]:
time_index = pd.date_range('01/01/2023', periods=5, freq='M')
date_frame01 = pd.DataFrame(index=time_index)
date_frame01['Stock_price'] = [1,2,3,4,5]
print(date_frame01)

# 이동 평균 계산
date_frame01.rolling(window=2).mean()
date_frame01.ewm(alpha=0.5).mean()

            Stock_price
2023-01-31            1
2023-02-28            2
2023-03-31            3
2023-04-30            4
2023-05-31            5

            Stock_price
2023-01-31     1.000000
2023-02-28     1.666667
2023-03-31     2.428571
2023-04-30     3.266667
2023-05-31     4.161290

## 시계열 데이터 누락값 처리

In [24]:
import numpy as np

time_index = pd.date_range('01/01/2023', periods=5, freq='M')
date_frame02 = pd.DataFrame(index=time_index)


print(date_frame02)

# 누락 값 있는 특성 생성
date_frame02['Sales'] = [1.0, 2.0, np.nan, np.nan, 8.0] 

date_frame02.interpolate() # 누락 값 보간
date_frame02.ffill() # 앞채우기
date_frame02.bfill() # 뒤채우기
date_frame02.interpolate(method='quadratic') # 비선형 보간법
print(date_frame02.interpolate(limit=2, limit_direction='backward'))

Empty DataFrame
Columns: []
Index: [2023-01-31 00:00:00, 2023-02-28 00:00:00, 2023-03-31 00:00:00, 2023-04-30 00:00:00, 2023-05-31 00:00:00]
            Sales
2023-01-31    1.0
2023-02-28    2.0
2023-03-31    4.0
2023-04-30    6.0
2023-05-31    8.0